.product {
  text-align: center;
  padding: 5rem;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;

  &__watch--1 {
    background-image: url(../../img/promo_apple_watch_series_9_order__b3u85rm9zf6u_large_2x.jpg);
  }

  &__watch--2 {
    background-image: url(../../img/promo_apple_watch_ultra2_order__dyxqj5ia98om_large_2x.jpg);
  }

  &__mac {
    background-image: url(../../img/promo_mbp__ek7p477bkp6q_large_2x.jpg);
  }

  &__fitness {
    background-image: url(../../img/promo_fitness_alt__ck26n46yeb2a_medium_2x.jpg);
  }

  &__card {
    background-image: url(../../img/tile__cauwwcyyn9hy_large_2x.jpg);
  }

  &__trade-in {
    background-image: url(../../img/promo_iphone_tradein__bugw15ka691e_large_2x.jpg);
  }

  &__img {
    display: block;
    width: 13rem;
    text-align: center;

    &--card-logo {
      width: 11rem;
    }
  }

  &__header {
    font-size: 3.3rem;
    font-weight: 500;
    line-height: 1;
  }

  &__textbox {
    font-weight: 300;
    width: 29rem;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.9rem;
  }

  &__text {
    &--wide {
      width: 40rem;
    }

    &--dark {
      color: #222;
    }

    &--light {
      color: #eee;
    }
  }
}
