.hero {
  background: url(../img/hero_apple_vision_pro__e8407ehady6i_large_2x.jpg);
  background-position: center 24%;
  background-size: 290%;
  height: calc(100vh - 7.2rem);
}

.section-iphone15pro {
  background: url(../img/hero_iphone15pro__i70z9oz3hj2i_large_2x.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 10rem);
  padding: 6rem;
  margin-block: 1rem;
}

.section-iphone15 {
  background: url(../img/hero_iphone15_announce__uuemlcwczn6u_large_2x.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 10rem);
  padding: 6rem;
  margin-block: 1rem;
}

.section-watches,
.section-devices,
.section-pay,
.section-slider {
  margin: 1rem;
}

.section-slider {
  margin-block-end: 3rem;
}
